* {
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header {
    padding: 1rem 0;
    background-color: lavender;
}

.main-content {
    width: 860px;
}

header > ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

li {
    background-color: beige;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
}

h2 {
    font-weight: 100;
}
