body {
    margin: 0;
    padding: 0 1rem;
}

#app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* TODO: get sticky header to play nice with html navigation */
header {
    position: sticky;
    top: 0;

    background: white;
}

.flex {
    display: flex;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

#app-header > h1 {
    margin-bottom: .35rem;
}

#app-header > h3 {
    margin-top: .35rem;
}

main {
   background: lawngreen;
}

.selected {
    background: lawngreen;
}

footer {
    padding: 1rem;
    text-align: center;
}
