.bio {
    
    hr {
        border: 1px solid dodgerblue;
        opacity: 25%;
        margin: 1rem;
    }

    article {
        margin: .5rem 2rem;
    }

    p {
        margin-bottom: 1rem;
    }
}
