header {
    background-color: dodgerblue;
    color: white;
    padding: .5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;

    img {
        max-height: 8rem;
        margin-left: .5rem;
    }
}
