header {
    height: 100px;
    // display: inline;
    background-color: dodgerblue;
    color: white;
    // margin: -5px -20px 0 -20px;
    padding: 1px;
    padding-left: 1rem;

    img {
        float: right;
        position: relative;
        height: 100px;
    }
}
